/*estrutura principal*/

body{
    margin: 0;
    padding: 0;
    background-color: #e0dfdf;
    font-family: 'Times New Roman', Times, serif;
}

header{
    background-color: #052231;
    color: white;
    padding-bottom: 5px;
}

#section-header {
    text-align: center;
    font-size: 18px;
}

 nav {
    background-color: #c4c2c2;
 }
 
 nav ul, li a {
    font-size: 17px;
    font-weight: bold;
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
    gap: 200px;
    padding: 8px;
    justify-content: center;
    
 }


footer {
    background-color: #052231;
    color: white;
    padding: 10px;
    display: flex;
    font-size: 14px;
    border-top: solid 3px #c4c2c2;
    gap: 45px;
    font-weight: bold;
}

#textmin {
    font-size: 13px;
}

/*estrutura secundária*/

main{

}

/*div pequena*/
section {
    justify-content: flex-start;
} 

.post {
    background-color: #052231;
    color: #ffffff;
    margin-right: 500px;
    margin-left: 15px;
    border-radius: 10px;
}

/*div maior*/

article {

}

/*barra lateral lol*/
aside {

}

