/*estrutura principal*/

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
}
header{
    background-color: darkblue;
    color: white;
    padding: 13px;
}

 nav {
    background-color: #c4c2c2;
 }
 
 nav ul, li {
    font-size: 17px;
    font-weight: bold;
    list-style-type: none;
    text-decoration-line: none;
    display: flex;
    gap: 200px;
    font-size: 20px;
    padding: 13px;
    justify-content: center;
    
 }


footer {
    background-color: darkblue;
    color: white;
    padding: 10px;
    display: flex;
    font-size: 14px;
    border-top: solid 3px #c4c2c2;
    gap: 45px;
    font-weight: bold;
}

#textmin {
    font-size: 13px;
}

/*estrutura secundária*/

main{

}

/*div pequena*/
section {

}
/*div maior*/

article {

}

/*barra lateral lol*/
aside {

}

